{
  "plugins": ["transform-object-rest-spread"],
  "presets": [["env", {
    "targets": {
      "node": "current"
    },
    "modules": "commonjs"
  }]],
  "env": {
    "test": {
      "presets": [["env"]]
    },
    "production": {
      "ignore": [
        "**/*.test.js"
      ]
    }
  }
}
